#logo {
    font-family: Verdana;
    font-size: 33pt;
    font-weight: bold;
    text-shadow: 4px 4px 8px #f90;
    color: #fff;
    text-align: left;
    padding: 5px 20px 15px 2px;
    cursor: pointer; 
}
.myNav {
    width: 100%;
    background-color: #f90;
    overflow: auto;
}

.myNav a  {
    width: 14%;
    float: left;
    text-align: center;
    font-size: 15px;
    color: white;
    text-decoration: none;
    padding: 15px 1px;
}

.myNav a:hover {
    background-color: #f60;
}

footer {
    position: absolute;
    bottom: 0px;
}